* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif
}

body {
    width: 95vw;
    margin: auto
}

:root ::selection {
    color: gold;
    background: #373B44;
    font-weight: 900
}

:root {
    --shadow: 10px 10px 5px -4px #00000052;

}

/* PORTADA TOP */

#portada {
    background-image: url('./img/travel_2.jpg');
    background-size: cover;
    width: 100%;
    height: 90vh
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 5vh;
    flex-flow: wrap
}

header img {
    width: 100%;
    margin: auto;
}

header a {
    padding: 1vw
}

.logo {
    display: flex;
    width: 15%;
    flex-direction: column;
    padding: 0 2vw
}

nav a {
    color: white;
    font-size: 1.2em;
    font-style: oblique;
    padding: 0.6vw;
    margin-left: 0;
    cursor: pointer;
    text-decoration: none
}

nav a:hover {
    color: cornflowerblue;
    font-size: 1.5em;
    font-style: italic;
    border: 1px solid cornflowerblue;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

header img~h1 {
    text-align: center
}

a i {
    color: white;
    font-size: 1.5em
}

a:hover i {
    color: cornflowerblue;
    font-size: 1.7em;
    border: 1px solid cornflowerblue;
    padding: 0.3vw;
    background-color: white;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.claim {
    font-size: 250%;
    color: white;
    margin: auto;
    width: 50%
}

.claim a, .botonFooter {
    background-color: yellow;
    color: black !important;
    font-size: 2vw;
    text-decoration: none;
    font-style: oblique;
    padding: 0.5vw;
    margin: 10vh auto;
    display: block;
    width: 30%;
    text-align: center;
}

.claim a:hover {
    background-color: gold;
    border-radius: 10px;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

/* DESTINOS */

#destinos {
    margin: auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap
}

#destinos>div {
    position: relative;
    width: 30%;
    margin: 12vh auto 0;
    transition: .4s;
    padding: 1vw;
    overflow: hidden;
}

#destinos>div:hover {
    border: 1px solid grey;
    transform: rotateZ(-3deg);
    cursor: pointer;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow)
}

#destinos h3 {
    padding: 1vw;
    background-color: rgb(42, 42, 95);
    color: white
}

#destinos h3:hover {
    background-color: rgb(42, 42, 42);
    color: gold
}

#destinos h4 {
    text-align: center;
    padding: 1vw;
    letter-spacing: 0.2em;
    color: rgba(15, 15, 71, 0.76)
}

#destinos img {
    width: 100%;
    height: auto;
    max-height: 170px
}

#destinos span {
    padding: 1vw;
    color: rgb(42, 42, 95);
    background-color: yellow;
    font-size: 180%;
    font-weight: bolder;
    position: absolute;
    top: 1vw;
    right: 1vw;
}

#destinos span:hover {
    color: rgb(42, 42, 95);
    border: 1px solid rgb(42, 42, 95);
    background-color: white;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

#destinos span~span {
    color: white;
    padding: 0.6vw;
    border: 1px solid greenyellow;
    background-color: greenyellow;
    bottom: 1vw;
    top: 80%;
    font-size: 1.3em;
    display: none;
    border-radius: 5px;
    transform: rotateZ(90deg);
    padding: auto
}

#destinos>div:hover span~span {
    display: block;
}

#destinos span~span:hover {
    background-color: rgb(243, 240, 235);
    color: yellowgreen;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

span~span:hover #destinos>div {
    background-color: gold
}

/* ABOUT - SOBRE NOSOTROS */
#about {
    margin-top: 10vh;
    background-image: url('./img/travel_1.jpg');
    padding: 0.5vw
}

#about>div {
    width: 30vw;
    background-color: white;
    padding: 4vw;
    margin: 5vw;
    display: flex;
    flex-direction: column
}

#about p {
    margin-top: 10vh
}

#about h1 {
    font-size: 2em;
    display: inline;
    border-bottom: 5px solid gold
}

#about a {
    text-decoration: none;
    color: gold;
    background-color: rgb(42, 42, 95);
    padding: 1vw;
    font-weight: 900;
    margin: 10vh auto 0;
    width: 50%;
    text-align: center
}

#about a:hover {
    background-color: gold;
    color: rgb(42, 42, 95);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

/* DÓNDE ESTAMOS */

#estamos {
    height: 100vh;
    display: flex;
    flex-direction: row
}

#estamos>div {
    width: 40%;
    margin: 5%;
    text-align: center;
    height: auto
}

#estamos>div~div {
    flex-direction: column;
    text-align: left;
    font-weight: 600;
    flex-flow: wrap
}

#estamos>div~div p {
    padding: 2vh
}

.thisIsTheLast {
    position: relative
}

.thisIsTheLast::after {
    position: absolute;
    top: 7vh;
    left: 0;
    content: '';
    width: 5vw;
    background-color: cornflowerblue;
    height: 5px;
}

#estamos input, #contact input {
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 2px;
    width: 46%;
    margin: 2%;
    padding: 1vw
}

textarea {
    border: 1px solid rgba(128, 128, 128, 0.253);
    margin: 2%;
    margin-top: 2vh;
    min-width: 96%;
    max-width: 96%;
    max-height: 150px;
    min-height: 100px
}

#estamos small {
    letter-spacing: 0.2vw;
    color: grey
}

/* FOOTER */

#contact {
    background-color: rgb(42, 42, 95);
    color: white
}

#contact > div {
    display: flex;
    justify-content: center;
    text-align: center
}

#contact > div div {
    width: 29.3%; /* CALCULADO EMPARANOIAO EN LA LIBRETA */
    margin: 3%;
    display: flex;
    flex-direction: column
}

#contact small {
    text-align: center;
    margin-top: 5vh
}

#contact > div + div {
    border-top: 1px solid black
}

#contact > div > div {
    flex-direction: column
}

#contact a {
    text-decoration: none;
    padding: 1vh;
    color: white;
    width: 100%
}

#contact a:hover{
    border: 1px solid white;
    background-color: white;
    color:rgb(42, 42, 95)
}

.inputFooter{
    width: 100% !important
}